<template>
  <div>
    <h1 class="test" :class="{ red:IsRed , blue:IsBlue, green:IsGreen }">텍스트 글자 변경할꺼임</h1>
    <button @click="Red">빨간색</button>
    <button @click="Blue">파란색</button>
    <button @click="Green">초록색</button>
    <button @click="init">원래대로</button>
    
    <h3>스타일 바인딩</h3>
    <div :style="{ color:TextRed }">스타일 인라인 바인딩 레드</div>
    

  </div>
</template>

<script>
export default {
    data() {
        return {
            IsRed : false,
            IsBlue : false,
            IsGreen : false,
            TextRed : 'red'


        }
    },
    methods: {
        Red() {
            this.IsRed = true
            this.IsBlue = false
            this.IsGreen = false
        },
        Blue() {
            this.IsRed = false
            this.IsBlue = true
            this.IsGreen = false            
        },
        Green() {
            this.IsRed = false
            this.IsBlue = false
            this.IsGreen = true
        },
        init() {
            this.IsRed = false
            this.IsBlue = false
            this.IsGreen = false
        }
    }
}
</script>

<style>
    .red {
        color: red;
    }
    .blue {
         color: blue;
    }
    .green {
         color: green;
    }
</style>