<template>
  <div>
      <div>Computed</div>
      <h1>{{ dummy }}</h1>
      <h2>{{ golping }}</h2>
      <h3>{{ returnData() }}</h3>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <div>Watch</div>
      <div>{{ watchData }}</div>
      <button @click="procWatch">watch 가동버튼</button>
  </div>
</template>

<script>
export default {
    data() {
        return {
            dummy : "개발자",
            watchData : 0
        }
    },
    computed: {
        golping() {
            return this.dummy + 'golping'
        }
    },
    watch: {
        watchData() {
            if (this.watchData > 5)  {
                console.log("무야호")
            } else {
                this.watchData *= 2
            }
        }
    },
    methods: {
        returnData() {
            return this.dummy + '골핑'
        },
        procWatch() {
            this.watchData += 1
        }
    }    
}
</script>

<style>

</style>