<template>
  <div>
	<div v-if="IsInit == 1">V-IF 테스트 </div>
   	<div v-else-if="IsInit == 2">V-ELSE-IF 테스트</div>
   	<div v-else>V-ELSE 테스트</div>
    <hr>
    <hr>
    <hr>

    <div>v-for</div>
    <ul v-for="(item,index) in items" :key="item.age">
        <li>{{ item.key}} + {{ index }} + {{item.age}}</li>
    </ul>

    <div>
        <input @keypress.enter="alertM" v-model="textData" type="text">
    </div>

    <select v-model="selected" multiple>
    <option>A</option>
    <option>B</option>
    <option>C</option>
    </select>    

    <br>
    <span>Selected: {{ selected }}</span>    
  </div>
</template>
<script>
    export default {
        data() {
            return {
                IsInit : 3,
                items: [
                    { key: '키키', age: 10 },
                    { key: '히히', age: 11 }
                ],
                textData: '',
                selected : '',                
            }
        },
        methods: {
            alertM() {
                alert(this.textData)
                this.textData = ''
            }
        }

    }
</script>