<template>
  <div class="container"></div>
</template>

<script>
export default {
    beforeCreate() {
      console.log("beforeCreate")
    },
    created() {
      console.log("created")
    },
    beforeMount(){
      console.log("beforeMount")
    },
    mounted() {
      console.log("mounted")
      this.$nextTick(() => {
        console.log("mounted_nextTick")
      })
      console.log("m-n-after-code")
    },
}
</script>

<style>

</style>