<template>
  <div class="container">
     <div>{{ user_nm }}</div>
     <div v-html="h2_data"></div>
     <div>{{ num + 5 }}</div>
     <div>{{ false ? 'OK':'NK' }}</div>
     <div>{{ time.split('-')[1] }}</div>
     <a :href="indexUrl">INDEX</a>
  </div>
</template>

<script>
export default {
    data() {
      return {
        user_nm : 'yongwon jeong',
        h2_data : '<button>내부버튼</button>',
        num     :  1,
        time    : '2021-02-28',
        indexUrl : '/'
      }
    },
    methods : {

    },
}
</script>

<style>

</style>