<template>
  <div class="container">
      <button @click="goRouter('lifeCycle')" class="btn">라이프사이클 훅</button>
      <button @click="goRouter('tempGrammer')" class="btn">템플릿 문법</button>
      <button @click="goRouter('ComputedWatch')" class="btn">ComputedWatch</button>
      <button @click="goRouter('ClassStyleBinding')" class="btn">클래스_스타일 바인딩</button>
      <button @click="goRouter('Directive')" class="btn">디렉티브</button>
  </div>
</template>

<script>
export default {
  data() {
    return {

    }
  },
  methods: {
    goRouter(key) {
      this.$router.push('/Essential/' + String(key))
    }
  },
  created() {

  },
  mounted() {

  }

}
</script>

<style>

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
</style>
